template(name="orgaOverview")
  img.ui.image.fluid(src="#{banner}")
  h3(style="font-weight: 300; margin-top: 0.5em; padding: 0.5em 2em").edit #{description}
    textarea(rows="2" style="display:#{edit}") #{description}
  .ui.divider
  .ui.tiny.statistics(style="padding: 0.5em 2em")
    .statistic
      .value #{totalMangos}
      .label Mangos
    .statistic
      .value #{transactionCount}
      .label Transactions
    .statistic
      .value #{messageCount}
      .label Messages

  .ui.divider
  .ui.feed(style="padding: 1em 3em")
    each transactions
      .event
        .label
          a(href="/people/#{createdBy._id}")
            img(src='#{createdBy.profile.picture}')
        .content
          .date #{createdAt}
          .summary
            a(href="/people/#{createdBy._id}") #{createdBy.username}
            if organisationToProject
              | transfered #{mangos} Mangos from #{senderOrga.name} to
              a(href="/projects/#{receiverProject._id}") #{receiverProject.name}
            else
              | gave #{mangos} Mangos to #{receiverOrga.name}
          .exta.text #{message}
