template(name='elements')
  #main
    h2 all elements
    form.ui.form.addStringElement
      .four.fields
        .field.ui.input
          input(type="text" name="contains" placeholder="contains")
        .field.ui.input
          input(type="text" name="elementType" placeholder="elementType")
        .field.ui.input
          input(type="text" name="expectedType" placeholder="expectedType")
        .field.ui.input
          input(type="text" name="utilizedWith" placeholder="utilizedWith")

      .field.ui.input
        input(type="text" name="definition" placeholder="definition")
      .field
        button.ui.button(type="submit") Submit

    .ui.very.basic.collapsing.celled.table
      thead
        tr
          th createdBy
          th elementType
          th contains
          th expectedType
          th utilizedWith
          th definition
      tbody
        each elements
          tr
           td #{createdBy}
           td #{elementType}
           td #{contains}
           td #{expectedType}
           td #{utilizedWith}
           td #{definition}
