template(name='elements')
  #main
    h2 all elements
    .ui.very.basic.collapsing.celled.table
      thead
        tr
          th id
          th createdBy
          th createdAt
          th x1
          th x2
          th x3
      tbody
        each elements
          tr
           td
            a(href="/elements/#{_id}") #{_id}
           td #{createdBy}
           td #{createdAt}
           td #{x1.type}:#{x1.value}
           td #{x2.type}:#{x2.value}
           td #{x3.type}:#{x3.value}

