template(name="personOverview")
  .ui.tiny.statistics(style="padding: 1.5em 2em 0.5em 2em")
    .statistic
      .value #{mangos}
      .label Mangos
    .statistic
      .value #{actionsCount}
      .label Actions
    .statistic
      .value #{messageCount}
      .label Messages
    .statistic
      .value #{totalTime}
      .label Minutes invested
    .statistic
      .value #{mangosGenerated}
      .label Basic Income Received
    .statistic
      .value #{mangosDestroyed}
      .label Basic Income Payed
    mangosGenerated
  .ui.divider
  .ui.feed(style="padding: 1em 3em")
    each personTimeline
      .event
        .label
          a(href="/people/#{createdBy._id}")
            img(src='#{createdBy.profile.picture}')
        .content
          .date #{createdAt}
          .summary #{name} #{message}|  #{createdBy.username}

