template(name="personOverview")
  #main.ui.very.basic.collapsing.celled.table
    thead
      tr
        th CreatedBy and createdAt
        th Property
        th Value
    tbody
      each elements
        tr
          td
            h4.ui.image.header
              img.mini.rounded.image(src="#{profileImage}")
              .content #{givenName}
                .sub.header #{createdAt}
          td
            h4.ui.header
              .content #{x2.value}
                .sub.header #{x2.type}
          td
            h4.ui.header
              .content #{x3.value}
                .sub.header #{x3.type}

