template(name="projectOverview")

  .ui.ten.cards(style="padding: 1em 2em 0.5em 2em")
    each shares
      a(href="/people/#{createdBy._id}").card
        if createdBy.profile.picture
          .image
            img(src="#{createdBy.profile.picture}")
        else
          .image
            img(src="/card.png")

  .ui.divider

  h3(style="font-weight: 300; margin-top: 0.5em; padding: 0.5em 2em").edit #{description}
    textarea(rows="2" style="display:#{edit}") #{description}

  .ui.divider
  .ui.tiny.statistics(style="padding: 0.5em 2em")
    .statistic
      .value #{peopleCount}
      .label Contributors
    .statistic
      .value #{totalTime}
      .label Min invested
    .statistic
      .value #{totalMangosWanted}
      .label Mangos wanted
    .statistic
      .value #{totalMangosReceived}
      .label Mangos received
    .statistic
      .value #{totalMangosExtra}
      .label Mangos Extra

  .ui.divider
  .ui.feed(style="padding: 1em 3em")
      each transactions
        .event
          .label
            a(href="/people/#{createdBy._id}")
              img(src='#{createdBy.profile.picture}')
          .content
            .date #{createdAt}
            .summary
              a(href="/people/#{createdBy._id}") #{createdBy.username}
              if organisationToProject
                | has transfered #{mangos} Mangos from
                a(href="/organisations/#{senderOrga._id}") #{senderOrga.name}
                | to
                a(href="/project/#{receiverProject._id}") #{receiverProject.name}
              else
                | has given #{mangos} Mangos to
                a(href="/project/#{receiverProject._id}") #{receiverProject.name}
            .exta.text #{message}
