template(name='actions')
  #main
    form.ui.form.addAction
      .two.fields
        .twelve.wide.field
          input(type="text", name="description")
        .four.wide.field
          button.ui.button.fluid(type='submit') Add
        
        
    table.ui.very.basic.celled.table
      thead
        tr
          th Action
          th Time
          th Factor
          th Mangos wanted
          th Mangos received
          th Project
      tbody
      each actions
        tr
          td
            h4.ui.image.header
              img.ui.mini.rounded.image(src="#{createdBy.profile.picture}")
              a(href="/actions/#{_id}").content
                | #{name}
                .sub.header
                  | #{createdBy.username}
          td #{time} min
          td #{factor}
          td #{mangosWanted}
          td #{mangosReceived}
          td
            each projects
              | #{name}
