template(name='transactions')
  #main
    .ui.feed(style="padding: 1em 3em")
      each transactions
        .event
          .label
            a(href="/people/#{sender._id}")
              img(src='#{sender.profile.picture}')
          .content
            .date #{createdAt}
            .summary
              a(href="/people/#{sender._id}") #{sender.username}
              | has given #{mangos} Mangos to
              a(href="/people/#{receiver._id}") #{receiver.username}
              | for the action:
              a(href="/actions/#{action._id}") #{action.name}
              | in the
              a(href="/projects/#{project._id}") #{project.name}
              | Project
            .exta.text #{message}
