template(name='projectLayout')
  .ui.padded.grid.stackable
    .three.wide.column(style="border-right: solid 1px lightgrey;padding: 1.5em")
      h3.ui.header
        img.ui.image(src="#{maintainer.profile.picture}")
        .content #{name}
          .sub.header #{maintainer.username}
      .ui.divider

      button.ui.left.labeled.fluid.button.openModal
        i.heart.icon
        | Give Mangos
      .ui.divider

      .ui.vertical.fluid.secondary.menu
        a.active.item(data-tab="overview") Overview
        a.item(data-tab="messages") Messages (#{messageCount})
        a.item(data-tab="people") People (#{peopleCount})
        a.item(data-tab="actions") Actions (#{actionsCount})
        a.item(data-tab="transactions") Transactions (#{transactionsCount})
        a.item(data-tab="history") History (#{editCount})

    .thirteen.wide.column.streched(style="padding: 0em")

      .ui.active.attached.tab(data-tab="overview")
        +projectOverview
      .ui.attached.tab(data-tab="messages")
        +subMessages
      .ui.attached.tab(data-tab="transactions")
        +projectTransactions
      .ui.attached.tab(data-tab="actions")
        +projectActions
      .ui.attached.tab(data-tab="people")
        +projectPeople
      .ui.attached.tab(data-tab="history")
        +projectHistory


  .ui.small.modal
    i.close.icon
    .header
      i.heart.icon
      | Give Mangos to #{name}
    .content
      .description
        .header Choose your amount of Mangos you wish to transfer
          .sub.header If you enjoy our work we offer you with the CO | OPEN Platform, show some love and give us encouragement.
        br
      form.ui.form.fluid.give
        .two.fields
          .field
            label Mango amount
            .ui.massive.transparent.input
              input(type="number", name="amount", placeholder="amount")
          .field
            label Show appreciation
            .ui.inline.massive.search.dropdown
              input(type="hidden" name="love")
              .text(style="font-weight: 300") Choose %
              i.dropdown.icon
              .menu
                .item(data-value="0") 0% no love
                .item(data-value="0.001") 0,1%
                .item(data-value="0.002") 0.2%
                .item(data-value="0.005") 0,5%
                .item(data-value="0.01") 1%
                .item(data-value="0.02") 2%
                .item(data-value="0.05") 5%
                .item(data-value="0.1") 10%
        .field
          label Message
          .ui.big.transparent.input
            textarea(rows="1", name="message", placeholder="optional", style="border: none; padding: 0")
    .actions
      .ui.ok.green.button Send now
