template(name="projectPeople")
  #main
    table.ui.very.basic.celled.table
      thead
        tr
          th Person
          th Time invested
          th Mangos wanted
          th Mangos received
          th Mangos extra
      tbody
        each shares
          tr
            td
              h4.ui.image.header
                a(href="/people/#{createdBy._id}")
                  img.ui.mini.rounded.image(src="#{createdBy.profile.picture}")
                  .content #{createdBy.username}
                    .sub.header
                      | Contributor
            td #{totalTime}
            td #{mangosWanted}
            td #{mangosReceived}
            td #{mangosReceivedExtra}
